---
import Card from "../Card/Card.jsx";
import styles from "./style.module.scss";
import { contentfulClient, normalizeProduct } from "../../utils";

let data = [];
try {
  const { items } = await contentfulClient.getEntries<any>({
    content_type: "kuroClothes",
    order: ["fields.position"],
  });
  data = items;
} catch (err) {
  return Astro.redirect("/404");
}
---

<div class={styles.main} id="products">
  <div class={styles.grid}>
    {
      data.map((item: any, index: number) => {
        const product = normalizeProduct(item);
        return <Card client:load {...product} key={index} />;
      })
    }
  </div>
</div>
