@import '../../../public/styles/index.scss';

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.inputContainer {
    width: 85%;
    position: relative;

    &:after {
        content: "";
        background-image: url('/search2.png');
        background-size: 100%;
        background-size: cover;
        position: absolute;
        width: 25px;
        height: 25px;
        right: 0px;
        transform: translate(-50%, -50%);
        top: 50%;
    }
}

.input {
    background-color: $black;
    border: none;
    padding: 16px 20px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    outline: none;
    font-size: 16px;
    color: $white;
    border-bottom: solid 1.5px $gray;
}

.icon {
    position: absolute;
    width: 30px;
    right: 0px;
}