---
import Layout from "../layouts/Layout.astro";
---

<style is:inline>
  @import "../../public/styles/index.scss";
  .main {
    background-color: #070707;
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  .title {
    color: #ebe9e9;
    font-size: 3.125rem;
    font-family: "Oswald", sans-serif;
  }

  .subtitle {
    color: #870009;
    font-size: 2.1875rem;
    font-family: "Montserrat", sans-serif;
  }

  .logo {
    position: absolute;
    bottom: 0px;
  }

  .goback-btn {
    background-color: #202020;
    border: none;
    color: #ebe9e9;
    padding: 12px 24px;
    border-radius: 4px;
    margin-top: 12px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    font-size: 14px;
    border-left: 2px solid #202020;
    transition: all 0.6s;
  }

  .goback-btn:hover {
    border-left: 2px solid #870009;
    transform: translateY(-5px);
  }

  @media (width <=768px) {
    .title {
      font-size: 1.7rem;
    }
    .subtitle {
      font-size: 1.4rem;
    }
  }
</style>

<Layout title="Kuro | clothes">
  <div class="main">
    <img
      src="/logo-text.png"
      alt="logo"
      class="logo"
      loading="lazy"
      decoding="async"
      width="200px"
    />
    <h1 class="title">¡Gracias por tu compra!</h1>
    <h2 class="subtitle">ありがとうございます!</h2>
    <a href="/" rel="noreferrer">
      <button class="goback-btn" id="goback">Ir al inicio</button>
    </a>
  </div>
</Layout>
