---
import Layout from "../layouts/Layout.astro";
import HeroImage from "../components/HeroImage/HeroImage.astro";
import Header from "../components/Header/Header.astro";
import Products from "../components/Products/Products.astro";
import Box from "../layouts/Box.astro";
import Footer from "../components/Footer/Footer.astro";
import { Tabs } from "../components/Tabs";
---

<script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.2/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.7.2/firebase-analytics.js";

  const firebaseConfig = {
    apiKey: import.meta.env.ANALYTICS_KEY,
    authDomain: "kuro-chlotes.com",
    projectId: "kuro-chlotes",
    storageBucket: "kuro-chlotes.appspot.com",
    messagingSenderId: "224414328297",
    appId: "1:224414328297:web:aeac27187811750a089778",
    measurementId: "G-Q0FL7YXVD7",
  };

  const app = initializeApp(firebaseConfig);
  getAnalytics(app);
</script>

<style is:inline>
  .image {
    background: #070707;
    background-image: url("/hero-image.png");
    width: 100%;
    height: 45vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (width <=768px) {
      display: none;
    }
  }
</style>

<Layout title="Kuro | clothes">
  <Header />
  <Box>
    <HeroImage />
  </Box>
  <div class="image"></div>
  <Box>
    <Tabs client:load />
    <Products />
    <Footer />
  </Box>
</Layout>
