@import 'public/styles/index.scss';

$size: 1.5rem;
$mobileSize: 1.25rem;

.navbar {
    position: fixed;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3rem;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: $black;
    box-sizing: border-box;

    @media (width <=996px) {
        padding: 0px 5%;
        height: 4rem;
    }

    @media (width <=768px) {
        padding: 0px 7.5%;
        height: 4rem;
    }
}

.menu {
    width: $size;
    height: $size;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    @media (width < 768px) {
        width: $mobileSize;
        height: $mobileSize;
    }
}

.line1 {
    height: 0.125rem;
    width: 100%;
    background: $white;
}

.line2 {
    height: 0.125rem;
    width: 75%;
    background: $white;
}

.line3 {
    height: 0.125rem;
    width: 100%;
    background: $white;
}

.logo {
    width: 3.4375rem;

    @media (width < 768px) {
        width: 2.8125rem;
    }
}