@import 'public/styles/index.scss';

.main {
    padding: 1.5rem 3.75rem;
    box-sizing: border-box;
}

.text {
    color: $white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1.25rem;
    cursor: pointer;
    width: fit-content;
    transition: all .6s;
    font-weight: 600;

    &:hover {
        color: rgba($color: $white, $alpha: 0.85);
        transform: translate(-0.125rem);
        transition: all .6s;
    }
}

.media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
}

.accordion {
    display: none;
    transition: all .6s;

    & ul {
        list-style: none;
        margin: 0;
        padding: 0.5rem 0.75rem;
        box-sizing: border-box;
    }

    & ul>li {
        color: $white;
        font-family: 'Montserrat', sans-serif;
        margin-top: 0.75rem;
        font-size: 0.875rem;
        font-weight: 400;
    }
}

.icon {
    cursor: pointer;
    transition: all .4s;

    &:hover {
        transition: all .4s;
        transform: translateY(-3px);
    }
}

.separation {
    margin-right: 1rem;
}

.subText {
    font-size: 0.875rem;
    margin-left: 0.5rem;
    color: $white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0.75rem;
}

@media (width <=768px) {
    .main {
        padding: 0rem 1.5rem 1.5rem 1.5rem;
    }

    .media {
        margin-top: 1.5rem;
    }

    .separation {
        margin-right: 1rem;
    }
}