<div class="main">
  <div class="box">
    <slot />
  </div>
</div>

<style>
  .main {
    background-color: #070707;
  }
  .box {
    max-width: 100rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #070707;
  }
</style>
