---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="Kuro clothes" content={Astro.generator} />
    <meta name="cryptomus" content="541e1bfb" />
    <title>{title}</title>
    <meta
      name="description"
      content="Somos una marca de ropa y accesorios apasionada por el mundo del anime, videojuegos y series con afición por la cultura Japonesa"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style>
